body{
    background: url(../fotot/aboutus1.jpg) no-repeat;
    background-size: cover;
  }
.bx{
    width: 70%;
    height: 800px;
    background-color: black;
    opacity: 0.9;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.hurdha{
    text-align: justify;
    padding: 10px 10px 10px 10px;
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.hurdha h1{
    padding-bottom: 20px;
}

.hr1{
    width: 45%;
    

}
.hr2{
    width: 45%;
    margin-left: 100px;

}
 .hrpeshku{
    
    padding-top: 200px;
} 