body, html {
    height: 100%;
  }
   .bg {

    background-color: lightblue;

    height: 100%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    background-color: #101010;
}

header .inner{
    display: flex;
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    margin: 0 auto;
    color: white;
    justify-content: flex-end;

}

header .logo{
    height: 100%;
  
    
}

header .logo div{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 800px;

}

header .logo a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
   
    
}

a:hover , a:active{
   font-weight: bold;
}


header nav{
    display: flex;
    height: 100%;
    padding-top: 40px;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
 
}

header nav li:last-of-type{
    margin-right: 0;
}



header nav a{
    color: white;
}

header nav .button{
    background-color: #1ab26b; 
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}

.footer-container{
    background-color: #101010;
    margin-top: 0%;
}
.footer{
    width: 80%;
    height: 30vh;
    background-color: #101010;
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.footer-heading{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 1rem;
}
.footer-heading a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.txt{
  text-align: center;
  color: white;

}

.txt1{
    margin-inline-start: 200px;
    margin-inline-end: 200px;
    display: flex;
    flex-direction: column;
    color: black;
}

.txt2{
    text-align: center;
    color: white;
}

.bed{
    display: flex;
    align-items: stretch;
    margin-inline-start: 300px;
    margin-inline-end: 200px;
}

.komoditet{
    text-align: center;
    color: white;
}

.p1{
    margin-left: 30px;
}

.p2{
    margin-left: 30px;
}

.laundry{
    display: flex;
    flex-direction: row;
    margin-inline-start: 300px;
    margin-inline-end: 200px;
    margin-top: 30px;
}

.wifi{
    display: flex;
    flex-direction: row;
    margin-inline-start: 300px;
    margin-inline-end: 200px;
    margin-top: 30px;
}

.p3{
    margin-left: 30px;
}
.food{
display: flex;
    flex-direction: row;
    margin-inline-start: 300px;
    margin-inline-end: 200px;
    margin-top: 30px;
}

.p4{
    margin-left: 30px;
}