.footer-container{
    background-color: #101010;
    margin-top: 100%;
}
.footer{
    width: 80%;
    height: 30vh;
    background-color: #101010;
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.footer-heading{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 1rem;
}
.footer-heading a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}