
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    background-color: #101010;
}

header .inner{
    display: flex;
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    margin: 0 auto;
    color: white;
    justify-content: flex-end;

}

header .logo{
    height: 100%;
  
    
}

header .logo div{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 800px;

}

header .logo a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
   
    
}

a:hover , a:active{
   font-weight: bold;
}


header nav{
    display: flex;
    height: 100%;
    padding-top: 40px;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
 
}

header nav li:last-of-type{
    margin-right: 0;
}



header nav a{
    color: white;
}

header nav .button{
    background-color: #1ab26b; 
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}