body{
  background: url(./fotot/aboutus1.jpg) no-repeat;
  background-size: cover;
}

.bx{
    width: 700px;
    height: 700px;
    background-color: black;
    opacity: 0.9;
    margin: 0 auto;
    margin-top: 50px;
}

.wlc{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}
.wlc h1{
    padding-bottom: 50px;
    text-align: center;
}
